/* ================================= H O M E  P A G E  ================================= */

.bodyConf{
    background-color: #9D7549;
    margin: 0 0 0 0px;    
}

.fadeTop {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
  }
  
  .visible {
    opacity: 1;
    transform: translate(0, 0);
    background-color: #9D7549;
  }

.mainContainer{
    background-color: white;
    height: 1800px;
    margin-top: -80;

}

.bannerLogo{
    height: 170px;
    padding-top: 35px;
    padding-left: 90px;
    position: absolute;
}

.bannerCast{
    width: 100%;
    height: min-content;    
    align-self: center;
}

.butContainer{
    position: absolute;
    padding-top: 30%;
    padding-left: 45%;
}

.joinBut{
    padding: 15 40 15 40px;
    font-size: 20px;
    background-color: #F9CD48;
    border-color: #F9CD48;
    border-radius: 10px;
}

.joinBut:hover{
    background-color: #f6db88;
    border-color: #000000;
}

.logoDes{
    height: 70px;
    margin-left: 75px;
}

/* ================================= N A V  B A R  ================================= */


.navBar{    
    position: sticky;
    top: 0px;
    width: 100%;
    align-items: center;
    text-align: justify;
    z-index: 100;
}

.navContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 62%;
}


.itemsNav{
    list-style:  none;
    display: flex;
    font-size: 18px;
    font-family: 'Gotu', sans-serif;
    align-items: center;
}

.itemLink{
    margin-left: 50px;

}

.linkDecoration{
    text-decoration: none;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content{
    align-items: center;
    align-self: center;
    align-content: center;

}

/* ================================= E V E N T  I N F O R M A T I O N  ================================= */


.eventImage{
    width: 100%;
    position: absolute;

}

.textImg{
    color: #F9CD48;
    position: absolute;
    text-align: center;
    margin-left: 25%;
    margin-top: 10%;
}

.blur{
    font-family: 'Gotu';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 66px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #F9D444;
    
    text-shadow: 0px 4px 4px #000000;
}


.eventInfo{
    position: absolute;
    margin-top: 550px;
    margin-left: 15%;
    width: fit-content;
}

.textContent{
    display: flex;
    width: max-content;
    align-items: center;
    font-family: 'Gotu';
    margin-top: 1rem;
}

.labelText{
    font-size: 25px;
    width: 200px;
}

.infoText{
    font-size: 40px;
    margin-left: 50px;
}

.registerButton{
    background-color: #6CB5B5;
    margin-left: 20vw;
    padding: 20 40 20 40px;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.25));
    border-style: none;
    font-family: 'Gotu';
    letter-spacing: -0.015em;

}
.registerButton:hover{
    background-color: #4d7d7d;
}