/*  ========= COLOR PALETTE =========
#9D7549
#F9CD48
#9A5151
#6CB5B5

========= FONTS =========
font-family: 'Fira Sans', sans-serif;
font-family: 'Gotu', sans-serif;

*/

/* ========= US6 ========= */
html {
  font-family: 'Fira Sans', sans-serif;
}

html * {
  padding: 0;
  margin: 0;
}

/* Navbar */
/* header {
  background-color: #9D7549;
} */

/* =================================  M E E T  T H E  T E A M  ================================= */

/* Main Area */
main.mainArea {
  margin-top: 1rem;
  background: url(./imgs/yellow.jpeg) no-repeat center;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

/*Top Main*/
section.topMain {  
  /*background-color: white;*/
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-self: center;
  align-items: center;
  grid-template-rows: auto;
}

div.logoSection {
  padding: 6px 12px 6px 48px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-self:center;
  align-items: center;
  grid-template-rows: auto;
}

label.logo {
  padding: 0;
  margin: 0;
  line-height: 70%;
  font-size: 2.8rem;
  cursor: none;
}

label.l2 {
  text-align: right;
}

label.l3 {
  font-size: 4rem;
}

div.descr {
width: 90%;
}

p.meetT {
  cursor: none;
  font-size: 1.4rem;
  text-align:justify;
  margin: 8px;
  padding: 6px 48px 6px 0;
  color: white;
  text-shadow: black 3px 0 10px;
}

section.bottomMain {
  padding: 36px 12px 24px 12px;
}

div.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self:center;
  align-items: center;
  grid-template-rows: auto;
}

img.card-photo {
  height: 300px;
}

div.ted, div.barney, div.robin {
  background-color: #9A5151;
  border: solid 1px white;
  border-radius: 5px;
  box-shadow: 10px 15px 15px #9A5151;
  display: flex;
  flex-direction: column;
  justify-self:center;
  align-items: center;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: background-color 1s box-shadow 1s top ease 1s;
}

div.ted:hover, div.barney:hover, div.robin:hover {
  background-color: #9D7549;
  box-shadow: 10px 15px 15px rgba(157, 116, 73, 0.65);
  top: -10px;
}

h4.card-title {
  padding: 4px;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

p.card-subt {
  padding: 8px 4px;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: white;
}


/* =================================  E V E N T S  P A G E  ================================= */

.events-page{
    display: flex;
    height: 110vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.events-page header{
    background-color: initial;
    font-family: 'Fira Sans', sans-serif;
    font-size: 7vh;
    line-height: 3rem;
    text-align: center;
    margin: 2rem 0;
    text-shadow: 2px 1px #7e7e7e;
}

.events-list{
    background-color: #9A5151;
    color: #FFFFFF;
    height: 58vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.5rem;
    font-family: 'Gotu', sans-serif;
}

.events-list li{
    list-style: none;
    text-align: right;
    padding: 1rem;
}

.events-btn{
    align-self: flex-end;
    background-color: #F9CD48;
    margin-right: 3rem;

    box-shadow: 3px 3px #2f2f2f;
    border-radius: 0.5rem;
    cursor: pointer;
}

.events-btn:hover{
    background-color: #f6da86;
}

.events-btn:active{
    background-color:#F9CD48;
    box-shadow: none;
}

.events-btn a{
    font-size: 140%;
    font-family: Helvetica,Arial,sans-serif;
    color:#000000;
    text-decoration: none;
    padding: 1.5rem;
}

.legendary{
    position: relative;
    right: 15%;
    bottom: 50%;
    width: 9vw;
    z-index: 0;
}

.group{
    position: relative;
    width: 17vw;
    bottom: 28%;
}


/* ================================= C O N T A C T S  P A G E  ================================= */

.contact-page{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact-page h1{
    position: relative;
    right: 6%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10vh;
}

.contact-umbrella{
    position: absolute;
    left: 46%;
    rotate: x 180deg;
    height: 40vh;
}

.contact-btn{
    background-color:#9A5151;
    color:#FFFFFF;
    padding: 0 2rem;

    font-family: Helvetica,Arial,sans-serif;
    box-shadow: 3px 3px #2f2f2f;
    font-size: 3vh;
    border-radius: 0.5rem;
    height: 8%;
    cursor: pointer;
}

.contact-btn:hover{
    background-color: #9f6a6a;
}

.contact-btn:active{
    background-color:#9A5151;
    box-shadow: none;
}

/* =================================  F O O T E R  ================================= */

.footer {
  padding: 40px 240px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.line {
  width: 50%;
  height: 1px;
  border: 0;
  background-color: white;
}

a.links {
  color: white;
  font-family: 'Gotu', sans-serif;
  text-decoration: none;
}

img.f-logo {
  height: 140px;
}

div.sites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

div.sites-lf {
  display: flex;
  flex-direction: column;
  align-items: center;
}
